<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>SneakerShop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <!-- Шапка -->
  <header class="header">
    <div class="container header-inner">
      <a href="/home" class="logo">SneakerShop</a>
      <nav class="nav">
        <a href="/login">Login</a>
        <a href="/cart/">🛒</a>
      </nav>
    </div>
  </header>

  <!-- Каталог товаров -->
 <main class="container">
  <div class="product-grid">
    {% for item in items %}
    {% set size_info = item.variant.sizes | selectattr('size', 'equalto', item.size) | list | first %}
    <div class="product-card">
      <img src="{{ item.variant.image_url }}" alt="{{ item.variant.product.name }}">

      <div class="product-info">
        <h3>{{ item.variant.product.name }}</h3>
        <p>{{ item.variant.product.brand }} / Размер {{ item.size }}</p>

        {% if size_info %}
          <p>Остаток: {{ size_info.quantity }}</p>
        {% else %}
          <p style="color: red;">Размер не найден</p>
        {% endif %}

        <div class="price-cart">
          <span class="price">{{ item.variant.price }}$</span>

          <form method="post" action="/cart/update-quantity/">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <input type="number" name="quantity"
                   value="{{ item.quantity }}"
                   min="1"
                   max="{{ size_info.quantity if size_info else 1 }}"
                   style="width: 60px;">
            <button type="submit">Обновить</button>
          </form>

          <form method="post" action="/delete-cart-item/">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <button type="submit">Удалить</button>
          </form>


        </div>
      </div>
    </div>
    {% endfor %}
              <form method="post" action="/order/create/">
          <button type="submit" class="checkout-btn">Оформить заказ</button>
        </form>
  </div>
</main>

</body>
</html>