<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>SneakerShop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <!-- Шапка -->
  <header class="header">
    <div class="container header-inner">
      <a href="/home" class="logo">SneakerShop</a>
      <nav class="nav">
        <a href="/login">Войти</a>
        <a href="/cart/">🛒</a>
        <a href="/orders/">Заказы</a>
      </nav>
    </div>
  </header>

  <!-- Каталог товаров -->
  <main class="container">
    <div class="product-grid">
      {% for product in products %}
      <div class="product-card">
        <a href="/product/{{ product.id }}">
        <img src="{{ product.variants[0].image_url }}" alt="{{ product.name }}">


          <div class="product-info">
          <h3>{{ product.name }}</h3>
          <p>{{ product.brand }}</p>
          <p>{{ product.description }}</p>
        </div>
          </a>
      </div>
      {% endfor %}
    </div>
  </main>
</body>
</html>
