<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>SneakerShop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <!-- Шапка -->
  <header class="header">
    <div class="container header-inner">
      <a href="/home" class="logo">SneakerShop</a>
      <nav class="nav">

        {% if current_user %}
        <a href="/cart/">🛒</a>
        <a href="/orders/">Заказы</a>
        <a href="/logout">Выйти</a>
        {% else %}
        <a href="/login">Войти</a>
        {% endif %}

      </nav>
    </div>
  </header>

  <main class="container">
    <div class="product-detail">
      <img src="{{ product.variants[0].image_url }}" alt="{{ product.name }}" width="300">

      <div class="product-info">
        <h1>{{ product.name }}</h1>
        <p><strong>Бренд:</strong> {{ product.brand }}</p>
        <p><strong>Описание:</strong> {{ product.description }}</p>
        <p><strong>Стиль:</strong> {{ product.style }}</p>

        <h3>Доступные варианты:</h3>
        <ul class="product-grid">
          {% for v in product.variants %}
          {% set available_sizes = v.sizes | selectattr("quantity", "gt", 0) | list %}
          <li class="product-card">
            <div class="product-info">
                <img src="{{ v.image_url }}" style="width: 350px; height: 280px; object-fit: contain;" alt="{{ product.name }}">
              <p>Цена: <strong>{{ v.price }}$</strong></p>
          {% if available_sizes|length > 0 %}
              <form method="post" action="/add-to-cart/">
                <input type="hidden" name="variant_id" value="{{ v.id }}">

              <label for="size">Размер:</label>
              <select name="size" id="size" required>
                {% for s in v.sizes %}
                  {% if s.quantity > 0 %}
                  <option value="{{ s.size }}">{{ s.size }} (в наличии: {{ s.quantity }})</option>
                   {% endif %}
                {% endfor %}
              </select>

                {% if current_user %}
                <button type="submit">Добавить в корзину</button>

                {% endif %}
              </form>
              {% else %}
              <p style="color: red;">Нет доступных размеров</p>
          {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </main>
</body>
</html>

